<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My login{% endblock %}</title>
    <style>
        body {background: skyblue; padding: 200px; margin-left: 300px;}
    </style>
</head>
<body>

    <header>
        {% block heading %}
        {% endblock %}
    </header>

    {% block content %}
    {% endblock %}
    
</body>

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for msg in messages %}
    <p style="color: red;">{{msg}}</p>
    {% endfor %}
{% endif %}
{% endwith %}
</html>